/* General styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background-image {
  background-image: url(https://img.freepik.com/premium-photo/blue-background-with-white-stripe-that-says-seagull_896342-19.jpg);
  background-size: cover;
  background-position: center;
  padding: 10rem 5rem 5rem;
}

.post-feedback {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 2rem;
  padding: 2rem;
}

input {
  border: none;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
}

#feedback-body {
  width: 55%;
}

#feedback-rating {
  width: 20%;
}

#feedback-btn {
  background-color: rgb(66, 66, 148);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.6rem;
}

#show-feedback {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem 4rem;
}

.feedback-card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0;
  width: 100%;
}

.feedback-card-user {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-card-user-img {
  background-color: rgb(97, 97, 219);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.feedback-card-content {
  flex: 7;
}

.feedback-rating {
  flex: 1;
  color: rgb(255, 217, 0);
  font-size: 1.6rem;
  text-align: center;
  width: fit-content;
}

#show-page-btns {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin: 2rem 0;
}

#show-page-btns button {
  background-color: rgb(44, 44, 255);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  padding: 0.6rem 0;
  width: 3rem;
  text-align: center;
}

.active-page-btn {
  background-color: rgb(88, 88, 255);
}

@media (max-width: 900px) {
  .background-image {
    padding: 2rem 1rem;
  }
  .post-feedback {
    flex-direction: column;
  }
  #feedback-title,
  #feedback-body,
  #feedback-btn {
    width: 100%;
  }
  #feedback-rating  {
    width: 50%;
  }
  .feedback-card {
    gap: .8rem;
  }
  .feedback-card-user {
    font-size: .8rem;
  }
  .feedback-card-title {
    font-size: 1rem;
  }
  .feedback-card-body {
    font-size: .8rem;
  }
  .feedback-rating {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .feedback-card-user {
    align-self: flex-start;
    font-size: .6rem;
  }
  .feedback-rating {
    font-size: .8rem;
  }
}
