/* General styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background-image {
  background-image: url(https://img.freepik.com/premium-photo/blue-background-with-white-stripe-that-says-seagull_896342-19.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 10rem 5rem 0;
}

.post-feedback {
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 2rem;
  padding: 2rem;
}

input {
  border: none;
  border-radius: 8px;
  padding: .6rem .8rem;
}

#feedback-body {
  width: 36rem;
}

#feedback-rating {
  width: 7rem;
}

#feedback-btn {
  background-color: rgb(66, 66, 148);
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: .6rem;
}
