body{
  background-color: rgb(242, 242, 205);
}

#question-container{
  background-color: white;
    font-family: 'Arial', sans-serif;
    margin-left: 170px;
    width: 1200px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#username{display: flex;
    justify-content: space-between;
    color: rgba(15, 15, 25, 0.7);
    font-size: small;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
    }

#card{
    font-family: 'Arial', sans-serif;
    margin-left: 170px;
    width: 1200px;
    border: 2px solid black;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#answer, #delete-btn{
    margin-top: 20px;
    width: 100px;
    padding: 8px;
    border: none;
    background-color: #21104f;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
  }
  
  #answer:hover, #delete-btn:hover{
  background-color: rgb(90, 8, 8);
  transform: scale(1.05);
  }



  /* votes */

  #votes{
    display: flex;
    align-items: end;
  }
  #vote-container{
    display: flex;
    justify-content: space-between;
  }

  #upvote-icon,#downvote-icon {
    width: 30px; 
  }
  
  #upvote-icon:hover, #downvote-icon:hover{
    transform: scale(1.1);
  }

  #upvote{
    margin-bottom: 8px;
  }