body{
    background: linear-gradient(to right, rgb(232, 234, 216), rgb(65, 219, 224));
}
.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;

}

.containerPriority {
    margin: auto;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(22, 22, 22);
    color: #333;
    font-family: Arial, sans-serif;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.headerLevel {
    text-align: center;
    margin-bottom: 20px;
}

.headerLevel h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(228, 228, 228);
}

.headerLevel p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(142, 142, 146);
}

.payment-details3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 15px;
    width: 30%;
    padding: 10px;
}

.payment-details {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    width: 80%;
    margin: 5px 0px;
    height: 100%;
}

/* .payment-details3 .payment-details:nth-child(2) {
    border: 3px solid rgb(5, 102, 194);
    border-radius: 15px;
} */

.payment-details:hover {
    border-radius: 15px;
}

.payment-details:hover h2 {
    color: rgb(5, 102, 194);
}

.price-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 5px;
}

.price-section h2 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    color: gray;
}

.price-section p {
    font-size: 14px;
    margin: 0;
    color: gray;
}

.price-section span {
    font-size: 15px;
    font-weight: 600;
    color: red;
    margin-left: 5px;
}

.testimonial {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 20px;
}

.testimonial blockquote {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.features-payment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 40vh;
    width: 45%;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 15px;
    padding: 10px;
}

.features-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgRucrring img {
    height: auto;
    border-radius: 50%;
}

.recurring-task {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: rgb(214, 214, 214);
    padding-top: 3px;
}

.includes {
    display: flex;
    justify-content: space-evenly;

}

.price-section h2 {
    font-size: 20px;
    /* color: white; */
    /* color: rgb(21, 21, 21); */
}

#radio-btn {
    transform: scale(1.5);

}

#radio-btn:focus {
    outline: none;
}

.ratingpoint {

    margin-top: 10px;
    align-items: center;
    text-align: center;
    width: 45%;
    padding: 10px;

}

.checkout-payment {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.choukout {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 30%;
    color: white;
    padding: 10px;

}

.checkout-info {
    margin-top: 10px;
    color: #939393;
}

#continue {
    width: 100%;
    border: none;
    border-radius: 45px;
    font-size: 16px;
    background-color: rgb(0, 131, 255);
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    padding: 10px;
    outline: none;
}

#continue:hover {
    cursor: pointer;
    background: rgb(0, 113, 219);
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}